<template>
  <md-app md-mode="reveal" id="app">

      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Running Tracker</span>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        <md-toolbar class="md-transparent" md-elevation="0">
          <router-link to="/"><span>Running Tracker</span></router-link>
        </md-toolbar>

        <md-list>
          <md-list-item>
            <router-link to="/profile">
              <md-icon>account_circle</md-icon>
              <span class="md-list-item-text">Profile</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link to="/history">
              <md-icon>history</md-icon>
              <span class="md-list-item-text">History</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link to="/summary">
              <md-icon>bar_chart</md-icon>
              <span class="md-list-item-text">Summary</span>
            </router-link>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>

  </md-app>
</template>

<script>
export default {
  name: 'app',
  components: {},
  data: () => ({
    menuVisible: false
  })
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
}
.md-drawer {
  width: 200px;
}
.md-theme-default a:not(.md-button) {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.md-theme-default a:not(.md-button):hover {
  color: #000;
}
.md-list-item-default:hover {
  background: #eee;
}
.md-list-item-text {
  display: block;
}
.md-list-item-text::before {
  display: inline;
  content: "\00a0 ";
}
</style>
